* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
}

.dot.selected {
  background-color: #fb2e86 !important;
}

.dot {
  background-color: grey !important;
}

a {
  color: inherit;
  text-decoration: none;
}
